# Support for Read The Docs document generation
# RTD is supported via sphinx+breathe
# Sphinx's breathe extension is used to read the Doxygen XML data
Babel==2.3.4
Jinja2==2.11.3
MarkupSafe==0.23
Pygments==2.7.4
Sphinx==4.0.2
alabaster==0.7.9
argparse==1.2.1
breathe==4.2.0
certifi==2021.5.30
chardet==4.0.0
docutils==0.17.1
idna==2.10
imagesize==0.7.1
packaging==20.9
pytz==2016.6.1
requests==2.25.1
six==1.10.0
snowballstemmer==1.2.1
urllib3==1.26.6
